<!DOCTYPE html>
	<html>
		<!--
======================================================================================================
$$$$$$$$\       $$\   $$\                        $$$$$$$$\        $$\       $$\                     
$$  _____|      $$ |  $$ |                       $$  _____|       \__|      $$ |                    
$$ |   $$$$$$\  $$ |$$$$$$\   $$$$$$\   $$$$$$\  $$ |    $$$$$$\  $$\  $$$$$$$ | $$$$$$\  $$\   $$\ 
$$$$$\ \____$$\ $$ |\_$$  _| $$  __$$\ $$  __$$\ $$$$$\ $$  __$$\ $$ |$$  __$$ | \____$$\ $$ |  $$ |
$$  __|$$$$$$$ |$$ |  $$ |   $$$$$$$$ |$$ |  \__|$$  __|$$ |  \__|$$ |$$ /  $$ | $$$$$$$ |$$ |  $$ |
$$ |  $$  __$$ |$$ |  $$ |$$\$$   ____|$$ |      $$ |   $$ |      $$ |$$ |  $$ |$$  __$$ |$$ |  $$ |
$$ |  \$$$$$$$ |$$ |  \$$$$  \$$$$$$$\ $$ |      $$ |   $$ |      $$ |\$$$$$$$ |\$$$$$$$ |\$$$$$$$ |
\__|   \_______|\__|   \____/ \_______|\__|      \__|   \__|      \__| \_______| \_______| \____$$ |
                                                                                          $$\   $$ |
                                                                                          \$$$$$$  |
                                                                                           \______/ 
		                                                     
		====================================================
		Owner Name: Patrick Andrew Todd
		Profile: https://www.facebook.com/falterfriday
		Version: 0.1
		Description: Never stop learning
		====================================================
		-->
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:patrick.a.todd@gmail.com">email</a></li>
	        		<li><a href="https://github.com/falterfriday">github.com/falterfriday</a></li>
				</ul>
			</footer>
		</body>
	</html>
